<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      APP BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="ion-text-center">
    <img width="60%" src="../../assets/img/01.png">
  </div>


    <ion-card color="secondary">
      <ion-card class="ion-padding">
        <ion-input color="dark" label="น้ำหนัก :" type="text" placeholder="kg"></ion-input><br>
        <ion-input color="dark" label="ส่วนสูง :" type="text" placeholder="cm"></ion-input>
      </ion-card>

      <div class="ion-text-center">
        <ion-button class="ion-padding" color="warning" size="large" expand="block" shape="round">
          คำนวณ
        </ion-button>
      </div>
    </ion-card>

      <ion-button color="success" size="large" expand="block" >
        ผลลัพธ์
      </ion-button>

      <ion-button color="danger" size="large" expand="block" >
        แปรผล
      </ion-button>

</ion-content>
